@import url('../bower_components/normalize.css/normalize.css');
@import url('../bower_components/fontawesome/css/font-awesome.min.css');
@import url('../bower_components/bootstrap/dist/css/bootstrap.min.css');
@import url('no-responsive.css');

.mt0 {
	margin-top: 0 !important
}
.mb0 {
	margin-bottom: 0 !important
}
.mt20 {
	margin-top: 20px
}
.tabpanel-main {
	border: 1px solid #95B8E7;
}
.tabpanel-main .nav>li>a {
  padding: 8px 15px;
}
.nav-tabs {
	background-color: #E0ECFF;
	padding: 4px 4px 0;
	border-bottom: 1px solid #95B8E7;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: #fff;
	border-top: 1px solid #95B8E7;
	border-left: 1px solid #95B8E7;
	border-right: 1px solid #95B8E7;
}
.nav-tabs>li {
	margin-right: 2px
}
.nav-tabs>li>a {
  border-color: #95B8E7;
}
.tab-inner {
	background: -webkit-linear-gradient(#EFF5FF 0%, #E0ECFF 100%);
	background: -o-linear-gradient(#EFF5FF 0%, #E0ECFF 100%);
	background: linear-gradient(#EFF5FF 0%, #E0ECFF 100%); 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}

/* PANELS */
.panel-default, .panel-heading {
	border-color: #95B8E7 !important;
}
.panel-heading {
	margin: 0 5px;
	background-color: transparent !important;
}
.panel-default {
	background-color: #E0ECFF;
	background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 20%);
	background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 20%);
	background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 20%);
	background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 20%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}
.panel-body {
	background-color: #fff;
	border: 1px solid #95B8E7;
	margin: 0 5px 5px;
	border-top: none;
	padding: 7px;
}

.btn-custom {
	background-color: #87B3EF;
	border-color: #95B8E7;
	color: #fff
}
#draggablePanelList .panel-heading {
    cursor: move;
}
#bloque4 form{
	border: 1px solid #DDD;
	padding: 5px;
}
.bs-example-bg-classes p {
  padding: 10px;
}

/* bootstrap form builder */
#components {
  min-height: 500px;
}

#target fieldset {
  border: 1px solid #ccc;
  min-height: 600px;
  padding: 5px;
  padding-bottom: 30px;
}

.component {
  cursor: pointer;
}

input {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.popover .control-group {
  cursor: default;
}
.popover input {
  cursor: text;
}

.temp{
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 999999;
  top: 0;
  overflow-x: hidden;
  left: 0;
}

.temp form {
  padding: 8px 4px;
  border: 1px dotted #ccc;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 30px #999;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  overflow: hidden;
}

#render{
  min-height: 500px;
  font-family: monospace;
}

/* Popovers now are appended to their parent rather
than to the body/main document as they once were.
We need to over-ride some inherited stuff.. */
form .popover .controls {
  margin-left: 0;
}

form .popover .control-label {
  text-align: left;
}

form .popover form {
  width: 224px;
}

.popover-content form .btn{
  margin-right: 10px
}

.target:after{
  float:left;
  content: " ";
  height: 77px;
  margin-top: 3px;
  background: #f0f0f0;
  width: 100%;
  border: 1px dashed #ccc;
}
#target, #input, #radioscheckboxes, #select, #buttons {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
#target fieldset{
 width: 100%;
 overflow: hidden;
}
.nav>li>a {
  padding: 8px 13px;
}
.tab-pane {
  padding-top: 20px;
}
.popover {
  z-index: 2000;
}
.required-control .control-label:after {
  content: " *";
  color: #fc4c5e;
}